{% extends 'base.html' %}

{% block content %}





    <div style='margin: 2rem; border-radius: 1rem; text-align: center;'>
        <h1> http model </h1>
{#요청을 보내겠다는 주소를 action에 입력, method에 보내는 방식을 입력#}
        <form action="/accounts/hello_cat/" method="post">
            {% csrf_token %}  {# 이구문을 작성해야 정상적으로 작동함 #}
            <input type="text" name="input_text">
            <input type="submit" class="btn btn-outline-dark rounded-pill px-5">
        </form>


        {% for data in data_list %}

            <h3>{{ data.text }}</h3>

        {% endfor %}
    </div>

{% endblock %}